.banner {
    width: 100%;
    height: 23%; /* Puedes ajustar la altura según tus necesidades */
    background-color: #EEB573; /* Color amarillo */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: -15.9%;
  }
  
  .logo {
    max-width: 77%; /* Ajustar el tamaño del logo */
    max-height: 81%; /* Ajustar el tamaño del logo */
  }
  