.container44 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.square {
  border-radius: 10px;
  width: 76%;
  height: 65%;
  background-color: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
}

.image3 {
  width: 50px;
  height: 50px;
}

.image4 {
  width: 25/4px;
  height: 25px;
  margin-right: 12px;
}

.text1 {
  flex-grow: 1;
  margin-left: 20px;
  font-size: 16px;
  color: #000;
  text-align: left;
  margin-top: 3%;
}

.grilla {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  margin-top: 200px;
  margin-left: 200px;
}
