.search-banner {
    width: 100%;
    height: 80px; /* Ajusta la altura según tus necesidades */
    background-color: #D9D9D9; /* Fondo blanco */
    display: flex;
    align-items: center;
    padding: 0 20px; /* Añade un poco de padding a los lados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Añade una sombra para separar visualmente */
    position: fixed;
    margin-top: -6%;
  }
  
  .banner-img {
    height: 20%; /* Ajusta el tamaño de la imagen */
    margin-right: 0px; /* Espacio entre la imagen y la barra de búsqueda */
    margin-left: 225px;
    width: 35%;
    height: 30%;
  }
  
  .search-input {
    flex-grow: 1;
    height: 40px; /* Ajusta la altura de la barra de búsqueda */
    padding: 0 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 220px;
    border-radius: 10px;
    margin-right: 50px;
  }
  